@model Clientes.Shared.Dtos.ClienteDto

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Esse registro será removido permanentemente, confirma?</h3>
<div>
    <h4>ClienteDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoCidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

    <form asp-action="ComfirmarExcluir">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Id" type="hidden" class="form-control" />
        </div>

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
